.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 50px 50px;
}
.price{
    color: #FF136F;
}

.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
  
}
.cat2{
    background-color: pink;
}
.cat3{
    background-color: royalblue;
}
.categories h1{
    color: white;
}
.categories img{
    width: 50%;
}

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 5px lightgray;
}
.card-footer{
    background-color: white;
    border-top: none;
}
#subscribe{
    height: 300px;
}

#subscribe p{
    color: gray;
}
#footer{
    text-align: center;
}